		
	    <div class="page">
	        <div class="nav-bar">
	            <div class="nav-bar-inner padding10">
	                <span class="element">
	                    @ 2012 ta &copy; by <a class="fg-color-white" href="#">billyct</a>
	                </span>
	            </div>
	        </div>
	    </div>
	    <script src="http://127.0.0.1:1337/socket.io/socket.io.js"></script>

    	<script src="{{base_url}}/js/libs/seajs/1.2.1/sea.js"
    			data-main="/js/scripts/init"></script>
    </body>
</html>