<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="ta">
    <meta name="author" content="billyct">
    <meta name="keywords" content="ta">

    <link href="{{base_url}}/css/main.css" rel="stylesheet">

    <title>ta</title>
</head>
<body class="metrouicss">

{{ include('layout/navigation.html', sandboxed = true) }}
